
<div class="container">
  <h2>Simple CRUD</h2>
</div>
<div class="input">
  <input type="text" class="inputField" [(ngModel)]="name">
  <button class="inputBtn" (click)="save()">Save</button>
</div>

<div class="itemContainer">
  <div>
      <h2>Pending Item</h2>
      <ul class="list-group">
        <li class="list-item-group" *ngFor="let item of pendingItems; let i=index">
          <div class="item">
            <div>{{item}}</div>
            <div class="icons">
                <a href="#" (click)="completeItem(i)"><i class="bi bi-file-check-fill text-success"></i></a>
                <a href="#" (click)="edit(i)"><i class="bi bi-pen-fill"></i></a>
                <a href="#" (click)="deleteItem(i)"><i class="bi bi-trash3-fill text-danger"></i></a>
            </div>
          </div>
        </li>
      </ul>
  </div>

  <div>
    <div>
      <h2>Complete Item</h2>
      <ul class="list-group">
        <li class="list-item-group" *ngFor="let completeItem of completeItems">
          <div class="item">{{completeItem}}
          </div>
        </li>
      </ul>
    </div>
  </div>
    
</div>


